 button a {
    color: white;
    text-decoration: none;
}

button a:hover {
    color: black;
    transition: all 0.5s;
}

ul a {
     color: black;
     text-decoration: none;
}

.MuiGrid-root a {
    color: -webkit-link;
}